.header {
    position: fixed;
    z-index: var(--app-shell-header-z-index);
    width: 100%;

    background-color: light-dark(
            var(--mantine-color-white),
            var(--mantine-color-dark-6)
    );
}

.main {
    width: 100%;

    @media (min-width: 48em) {
        padding-left: rem(24);
        padding-right: rem(24);
    }

    background-color: light-dark(#eef1f9, var(--mantine-color-dark-7));
}
